body
{
	background-color: lightgray;
}
h1
{
	color: red;
	font-size: 70px;
	text-decoration: underline;
}
h2
{
	color: blue;
	font-size: 50px;
	text-decoration: underline;

}
.gay
{
	font-size: 30px;

}
#cegay
{
	font-size: 100px;
}
span
{
	font-style: italic;
}
h2 span
{
	text-decoration: line-through; 
}